* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: "Edu Tas Beginner", "sans-serif", "monospace";
    font-size: 20px;

}

h1 {
    text-align: center;
    font-size: 4em;
    font-weight: 800;
    padding: 20px;
}

.data-font {
    font-family: "Sometype Mono", monospace;
}

/*  Header */
.container-head {
    background-image: url("../img/wall.png");
    height: 20%;
}

/* Main */

main {
    background-image: url("../img/cork.png");
    min-height: 100vh;
}

.container-card {
    width: 80%;
    margin: 0 auto;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 90px 0;

}

/* Cards */

.card {
    padding: 10px;
    background-color: white;
    font-weight: 800;
    text-align: left;
    width: 400px;
    position: relative;
    z-index: 800;
}

.card:hover {
    box-shadow: 5px 5px 50px 5px black;
    cursor: pointer;
    transform: scale(1.2) rotate(10deg) translateY(-5px);
    transition: 0.5s;
    transform-origin: center;
    z-index: 900;
}

.card:hover>.pin-position {
    display: none;
}


.api-img {
    max-width: 100%;
}

.img-date {
    font-weight: 400;
    font-size: 0.8rem;
}

.pin-position {
    position: absolute;
    top: -15px;
    right: calc(50% - 18px);
    width: 36px;
}

/* Overlay */

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 2000;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.img-overlay {
    height: 600px;
}

.ds-none {
    display: none;
}

.ds-block {
    display: block;
}

/* Button */

.btn {
    background: none;
    color: rgba(35, 35, 35, 0.787);
    background-color: rgba(255, 255, 255, 0.859);
    border: 1px solid black;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 100px;
    height: 50px;
    z-index: 2100;
}

/* Desktop XL */

@media screen and (min-width: 2080px) {
    .container-card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 140px 0;
    }

    .card {
        flex: 0 0 calc((100% / 3) - (40px / 3));
        max-width: 600px;
    }
}

/* Tablet 1020px */
/* @media screen and (max-width: 1020px) {

    .container-card {

        padding: 80px 0;
    }

    .card {
        flex: 0 0 calc(100% / 2 - 20px);
        max-width: 100%;

    }
} */