* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
body {
    font-family: "Edu Tas Beginner", "sans-serif", "monospace";
    font-size: 20px;

}

h1 {
    padding: 10px;
    text-align: center;
    font-size: 4em;
    font-weight: 800;
}

/*  Header */
.container-head {
    background-image: url("../img/wall.png");
    height: 20vh;
}

/* Main */

main {
    background-image: url("../img/cork.png");
    min-height: 100vh;
    padding-top: 60px;
}

.container-card {
    width: 70%;
    margin: 0 auto;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Cards */

.card {
    padding: 10px;
    width: calc((100% / 3) - (40px / 3));
    background-color: white;
    margin: 20px 0;
    font-weight: 800;
    text-align: left;
    min-width: 200px;
}

.card:hover {
    box-shadow: 3px;
    transform: rotate(25deg);
    transform: scale(2);
    
}

img {
    max-width: 100%;
}


/* Smartphone M version */

/* @media screen and (max-width:640px) {} */

/* Smartphone S version */
/* @media screen and (max-width:640px) {} */